* {
	margin: 0;
	padding: 0;
}


html, body {
	height: 100%;
	background: #C0C0C0;
}

body {
	display:table;
        border: solid black;
        border-width: 0 1px;
        height: 100%;
        margin: auto;
        width: 500px;
        background: #ffd;

}

#wrapper
{
	display:table-row-group;
}

#header
{
	background: #dff;
	display:table-header-group;
	width: 100%;

}

#footer 
{
	//margin: 0px -1px -2px -1px;
	//padding: 5px;
	background: #fdf;
	display:table-footer-group;
}

// http://silverflame.at.tut.by/sticky1.html
